# Mobile App for Lottery Addiction
In the project, we'll calculate various probabilities related with 6/49 lottery as well as write functions that enable user to easily calculate lottery probabilities for a mobile app by a medical institute, which is aimed to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning.

In [1]:
# Write the functions to calculate factorial and combinations
def factorial(n):
    n_factorial = 1
    for i in range(n, 0, -1):
        n_factorial *= i
    return n_factorial

def combinations(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))

In [8]:
# Write the function to calculate the chance to win a big prize
def one_ticket_probability(in_list):
    tot_outcomes = combinations(49, len(in_list))
    win_prob = 1 / tot_outcomes * 100
    print("The chance of winning the big prize with the numbers {} is {:.9f}%.".format(in_list, win_prob))

In [9]:
# Test
one_ticket_probability([1, 3, 7, 13, 23, 35])

The chance of winning the big prize with the numbers [1, 3, 7, 13, 23, 35] is 0.000000072%.

In [12]:
import pandas as pd
data_649 = pd.read_csv("649.csv")

pd.options.display.max_columns = 100

print(data_649.shape)

data_649.head()

(3665, 11)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [13]:
data_649.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [21]:
# Write a function to extract the winning six numbers as a set
def extract_numbers(row_data):
    win_set = row_data[4:10]
    win_set = set(win_set.values)
    return win_set

In [22]:
win_sets = data_649.apply(extract_numbers, axis = 1)
print(win_sets.head())

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [30]:
# Write the function to extract the time(s) that a specific set of numbers has been drawned before
def check_historical_occurence(user_numerbs, winning_sets):
    user_numbers = set(user_numerbs)
    check_occurrence = user_numbers == winning_sets
    n_occurrences = check_occurrence.sum()
    
    if n_occurrences == 0:
        print("""The set of numbers {} has not been drawned before. 
The chance to win using these numbers remains 0.000000072% evry time.""".format(user_numbers))
    else:
        print("""The number of times that the set of numbers {} has been before is {}. 
The chance to win using these numbers remains 0.000000072% evry time.""".format(user_numbers, n_occurrences))

In [31]:
# Test
check_historical_occurence([1, 3, 5, 13, 23, 35], win_sets)

The set of numbers {1, 3, 35, 5, 13, 23} has not been drawned before.
The chance to win using these numbers remains 0.000000072% evry time.

In [33]:
# Write a function to calculate the chance to win a big prize with multiple tickets
def multi_ticket_probability(n_tickets):
    tot_outcomes = combinations(49, 6)
    win_prob = n_tickets / tot_outcomes * 100
    print("The chance of winning the big prize with {} ticket(s) is {:.9f}%.".format(n_tickets, win_prob))

In [34]:
# Test
test_numbers = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

chance = {}

for n in test_numbers:
    chance[n] = multi_ticket_probability(n)

The chance of winning the big prize with 1 ticket(s) is 0.000000072%.
The chance of winning the big prize with 10 ticket(s) is 0.000000715%.
The chance of winning the big prize with 100 ticket(s) is 0.000007151%.
The chance of winning the big prize with 10000 ticket(s) is 0.000715112%.
The chance of winning the big prize with 1000000 ticket(s) is 0.071511238%.
The chance of winning the big prize with 6991908 ticket(s) is 0.500000000%.
The chance of winning the big prize with 13983816 ticket(s) is 1.000000000%.

In [39]:
# Write a function to calculate the chance of winning numbers you have in the numbers selected
def probability_less_6(n):
    """
    n is a integer between 2-5
    """
    tot_win_outcomes = combinations(6, n) * combinations(43, 6 - n)
    tot_outcomes = combinations(49, 6)
    win_prob = tot_win_outcomes / tot_outcomes * 100
    print("""The chance of having {} winning numbers in the numbers you selected is {:.9f}%""".format(n, win_prob))

In [40]:
# Test
test_numbers_2 = [2, 3, 4, 5]

for n in test_numbers_2:
    probability_less_6(n)

The chance of having 2 winning numbers in the numbers you selected is 13.237802900%
The chance of having 3 winning numbers in the numbers you selected is 1.765040387%
The chance of having 4 winning numbers in the numbers you selected is 0.096861972%
The chance of having 5 winning numbers in the numbers you selected is 0.001844990%